Library/
obj/
Packages/
Temp/
CSVHelper/Assets/Scenes/SampleScene.unity.meta
CSVHelper/Assets/Scenes/SampleScene.unity
CSVHelper/Assets/Scenes.meta
CSVHelper/.vs/CSVHelper/v15/Server/sqlite3/storage.ide-wal
CSVHelper/.vs/CSVHelper/v15/Server/sqlite3/storage.ide-shm
CSVHelper/.vs/CSVHelper/v15/Server/sqlite3/db.lock
CSVHelper/.vs/CSVHelper/v15/Server/sqlite3/storage.ide
CSVHelper/.vs/CSVHelper/DesignTimeBuild/.dtbcache
